{% extends 'padre/base.html' %}
{% load static %}
{% block titulo %}
Precios
{% endblock titulo %}
{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: black;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }
</style>


<link href="{% static 'dist/css/pricing.css' %}" rel="stylesheet">
{% endblock css %}

{% block contenido %}
<main class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Precios</h1>
        <p class="fs-5 text-body-secondary">El plan Pro te ofrece ventajas que no podrás obtener con el servicio
            gratuito, esto te permitirá tener un mayor alcance a clientes potenciales, generando más oportunidades de
            venta, por medio de herramientas que facilitarán tu trabajo
        </p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for precio in precios %}
            {% if precio.color %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">{{ precio.titulo }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ precio.valor }}<small
                                class="text-body-secondary fw-light">/men</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for beneficio in precio.bene %}
                            <li>{{ beneficio }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">
                            Unirme a {{precio.titulo}}</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ precio.titulo }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ precio.valor}}<small class="text-body-secondary fw-light">/men</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for beneficio in precio.bene %}
                            <li>{{ beneficio }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                            Unirme a {{ precio.titulo }}</button>
                    </div>
                </div>
            </div>
            {% endif %}

        {% endfor %}

        
    </div>

</main>
{% endblock contenido %}